@using Microsoft.AspNetCore.Http;
@model QuickEmail.Models.User;
@{
    ViewData["Title"] = "verification";
}

<body>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-pic js-tilt" data-tilt>

                </div>
                <div id="loginform">
                    <img src="~/images/verifaction.png" alt="IMG">
                    @using (Html.BeginForm("ValidateVerificationCode", "Admin", FormMethod.Post, new { @Id = "frmVerify" }))
                    {
                        <form class="login100-form validate-form">
                            <span class="login100-form-title">
                                Check your email!
                                We’ve sent a six-digit confirmation code to <strong>sksmtechworld@gmail.com</strong>. Enter it below to confirm your email address.
                            </span>

                            <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                                <input class="input100" type="text" id="VerificationCode" name="VerificationCode">
                                <span class="focus-input100"></span>

                            </div>



                            <div class="container-login100-form-btn">
                                <button class="login100-form-btn" onclick="verifyUser()">
                                    Verify Now
                                </button>
                            </div>

                        </form>
                    }

                   
                </div>

            </div>
        </div>
    </div>


</body>


@section Scripts {
    <script>
        $(function () {

            $('#frmVerify').validate({
                ignore: ":not(:visible)",
                rules: {
                    VerificationCode: {
                        required: true
                    }


                },
                VerificationCode: {
                    Email: {
                        required: "VerificationCode  required"
                    }
                }
            });
        });

        function verifyUser() {
            debugger;
            if ($("#frmVerify").valid()) {
                  $("#frmVerify").submit();
            }

        }

    </script>
}
