

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - QuickEmail</title>
    <script src="https://kit.fontawesome.com/083e0af66f.js" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="~/fontawesome/font-awesome.css">
<link rel="stylesheet" type="text/css" href="~/fontawesome/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="~/logincontent/util.css">
<link rel="stylesheet" type="text/css" href="~/logincontent/main.css">

@await Component.InvokeAsync("NToastNotify")
</head>

<body>


    <div class="body-content">
        @RenderBody()
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
    @*<footer>
        <p>&copy; @DateTime.Now.Year Qucik Email. All rights reserved.</p>
    </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>
    <script scr="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
<script>
    $("lidashboard").addClass('active');
</script>