
@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="searchbg">
        <div class="container">
            <div class="searchbox">
                <h5 class="modal-title" id="modalHeader">
                    <span>Dashboard</span>
                </h5>
            </div>
        </div>
    </div>
    <div>
        <div>
            <div class="row">
                <div class="col-md-3 noPad nopadR">
                    <a class="dash-detail one-time-process" style="cursor:pointer" onclick="SignUpUserDetail('today')">
                        <table>
                            <tr>
                                <td class="vaM">
                                    Toatal Contacts
                                </td>
                                <td class="vaM taR">
                                    <div class="new-dash-count"><span>20</span></div>
                                </td>
                            </tr>
                        </table>
                    </a>
                </div>
                <div class="col-md-3 noPad nopadR">
                    <a class="dash-detail one-time-process" style="cursor:pointer" onclick="SignUpUserDetail('today')">
                        <table>
                            <tr>
                                <td class="vaM">
                                    Templates
                                </td>
                                <td class="vaM taR">
                                    <div class="new-dash-count"><span>0</span></div>
                                </td>
                            </tr>
                        </table>
                    </a>
                </div>
                <div class="col-md-3 noPad nopadR">
                    <a class="dash-detail one-time-process" style="cursor:pointer" onclick="SignUpUserDetail('today')">
                        <table>
                            <tr>
                                <td class="vaM">
                                    Campaigns
                                </td>
                                <td class="vaM taR">
                                    <div class="new-dash-count"><span>0</span></div>
                                </td>
                            </tr>
                        </table>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
